/* @import "compass/css3"; */

.day-filter {
    display: inline-block;
    border: solid red 3px;
}

.filterSurround {
    margin: 10px 30px 20px 10px;
}

.alignFilter {
    display:flex;
    flex-direction:row;
}
.filterContainer{
    background-color: rgba(186, 124, 62, 0.212);
    display: inline-block;
    margin:  0px 0px 20px 0px;
    padding: 10px;
    border-radius: 10px;
}

.FilterX {
    color: red;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    margin-left: 10px;

}
/* CSS for rotating button @https://codepen.io/woovils/pen/nVzLvO */ 


.FilterX:hover {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
        opacity:1;
}


/* CSS for rotating button @https://codepen.io/woovils/pen/nVzLvO
.wrap{
	margin:5em auto;
	width:500px;
}
.box{
	height:300px;
	width:500px;
	background-color:#bdc3c7;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	border:2px solid #ecf0f1;
}

	
.box > object{
    margin: 30px 0 0 -70px;
}

.box > img{
    top:5px;
    right:5px;
    width:25px;
    height:25px;
    position:absolute;
    -webkit-transition:-webkit-transform .25s, opacity .25s;
        -moz-transition:-moz-transform .25s, opacity .25s;
                transition: transform .25s, opacity .25s;
    opacity:.25;
}
.box > img:hover{
    -webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
transform: rotate(270deg);
    opacity:1;
} */