/* @import "compass/css3"; */

.dayFilter, .categoryFilter, .titleFilter, .capFilter {
    display: inline-block;
    /* border: solid red 3px; */
    height: 88px;
}

.filterSurround {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    width:100%;
    border-radius: 0px;
    
    /* position:fixed; */
    /* left:100px; */
    /* left:200px; */
    
}

.alignFilter {
    /* border:rgb(104, 117, 217) solid 2px;  */
    /* width:200px;  */
    margin: 5px 20px;
}

.filterContainer{
    background-color: #f5b52b51;
    display: inline-block;
    margin:  0px 0px 0px 0px;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    display:flex;
    justify-content:center;
    flex-direction:row;
    text-align: center;
    
}

.bootstrapFilter {
    background-color: #f5b52b51;
    justify-content: center;
    padding-left: 5%;
}
.FilterX {
    color: red;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    margin-left: 10px;

}
/* CSS for rotating button @https://codepen.io/woovils/pen/nVzLvO */ 
.FilterX:hover {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
        opacity:1;
}

:root {
    --main-color: rgb(104, 117, 217);
    --main-color-hover: rgb(104, 117, 217, 0.2);
    --track-color: #ddd;
}

.customSlider {
/* max width of your slider */
max-width: 300px;
/* Optional: Only If you want to center your slider in the page */
margin: auto;
}

.customSlider-track {
/* Top value to align your track to the center of your thumb */
top: 8px;
/* thickness of the track */
height: 4px;
/* default color of your track */
background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
/* color of the track before the thumb */
background: var(--main-color);
}
/* 
.capFilter {
    height: 60px;
    width: 243px;
} */

.capFilter > table{
    margin-top:5px;
}

.capFilter > tbody, td {
    padding: 5px;
}

#capGeqInput, #capLeqInput {
    visibility: hidden;
}

.filterDropdown {
    background: var(--bs-card-color);
}

.inputBox {
    width:50px;
    margin-left: 5px;
    margin-right: 5px;

}

input.error {
    border-color: red;
    color: red;
}