.HomeContainer-1 {
    display: flex;
    }
.HomeContainer-1 div{
      background-color: orange;
      width: 100%;
      height: 100px;
}
.title {
    flex: 10;
    text-align: center;
    border: blue 1px solid;
    /* border: 3px solid "orange"; */
  
}
  .button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    
  }
.LeftNavContainer-1{
    display:flex;
    float: left;
}

.LeftNavContainer-1 div{
    background-color: grey;
    width: 50%;
    height: 800px;
}
.btn{
    justify-content: center;

}
.content{
    display: flex;
    align-items: center;
    border: blue 5px solid;
  

}
.content div{
    background-color: rgb(211, 197, 152);
    margin-top: 1rem;
    margin-left: 0.2rem;
    border-radius: 10px;
    height: 150px;
    width: 90%;
}
.body{
    flex-direction: column;
    /* flex: flex-shrink; */
    /* flex-wrap: multi-line; */
    /* background-color: rgb(160, 138, 97); */
}
.location{
    justify-content: flex-end;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border: rgb(23, 168, 105) 3px solid;
  }


.moredetails{
    color: orange;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}





