/*.HomeContainer-1 {
    display: flex;
    }
.HomeContainer-1 div{
      background-color: orange;
      width: 100%;
      height: 100px;
}
*/

html {
    /* overflow: hidden; */
    /* display:flex; */
    /* flex-direction:col; */
    -webkit-overflow-scrolling: touch;
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.paginate{
    background-color: orange;
    margin-top: 10rem;
    justify-content: center;

}
.Navbar{
    background-color: orange;
    justify-content: left;
    padding-left: 5%;
 
}
.titleLink{
    background-color: orange;
    border-color: orange;
    color: black;
}
.title {
    flex: 10;
    text-align: center;
    /* border: 3px solid "orange"; */
  
}
.buttonsSec {
    float: right;
    width: -moz-available;
}

.button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    
  }
.LeftNavContainer-1{
    display: flex;
    float: left;
}

.LeftNavContainer-1 div{
    background-color: grey; 
    /* width:100px; */
    /* width: 50%; */
    display:flex;
    flex-direction: column;
    height:revert;
    height: 100vh;
    display:block;
}


.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    /*
    display: flex; 
    flex-direction: column; 
    height: 100%;
    height: 100%; */
    /* border: blue 3px solid; */
    align-items: center;
    /*align-items: center;*/
}

.events {
    width:100%;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

}
section{
    display: flex;
    justify-content: space-between;
}

.contents{
   border: blue 3px solid;
  
}

/* .event-title-container{
    border: yellow 3px solid;
} */
/*
.content div{
    background-color: rgb(252, 222, 169);
    margin-top: 1rem;
    margin-left: 0.2rem;
    border: black 5px solid;
    border-radius: 10px;
    height: 170px;
    width: 90%;
    overflow:revert;
}
*/

.location{
    justify-content: flex-end;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
  /*  border: rgb(23, 168, 105) 3px solid;*/
  }


.moredetails{
    color: orange;
    height: 30px;
    font-size: 15px;
    width:140px;
    text-align: center;
    border-radius: 5px;
     /* border: rgb(15, 93, 127) 3px solid; */
}


.buttonStyle {
    top:50%; 
    left:50%;
    margin-top: 2%;
    align-self: center;
    width: 30%
}

.buttonShift:hover {
    background-color:red;
    transition: 0.7s;
}


div.pageContainer{
    height: 800px;
    display:block;
   
    
}

.customized-card{
    margin: 8px 10px;
   /* width: 23rem;*/
    max-width: fit-content;
    background: rgb(252, 222, 169);
    box-shadow: 0 0 15px;
    border-radius: 10px;
    max-height: fit-content;
}

.customized-card-body{
   padding: 10px 20px;
}
.customized-card-body p{
    font-weight: bold;
}
.Button {
    background-color: orange;
    width: 8rem;
}

.tableStyle {
    left: 50%;
    top: 70%;
    width: 70%;
    border-spacing: 5;
    border-radius: 12px 12px 0 0;
    overflow:hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
    background: rgba(243, 156, 18);
    text-align: center;
}

.creator {
    text-align: right;
    padding-right: 10px;
    color: orangered;
}

.date {
    color: orangered;
}

th, td{
    padding: 12px, 15px;
}

th{
    background-color: aliceblue;
    text-align: center;

}

.tag{
    background-color: red;
    width: 50%;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
}
.tag:hover{
    color: inherit;
    
}

.note {
    color: red;
}

.white {
    color: white
}

.updateProfileMessage {
    text-align: center;
}

.center {
    align-self: center;
}

.none-style {
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-top:10%;
    background-color: orange;
    border-radius: 10px;
  }
  
  .mainImg {
    filter : brightness(50%);
}

.container {
    position: relative;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    margin-left: 0%;
    
    text-align: center;
    color: white;
    max-width: 100%;
  }

  .centered {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    font-size: 8vw;
  }

  .logout {
    padding-left: 1%;
  }
