/*.HomeContainer-1 {
    display: flex;
    }
.HomeContainer-1 div{
      background-color: orange;
      width: 100%;
      height: 100px;
}
*/

html {
    overflow: hidden;
    /* display:flex; */
    /* flex-direction:col; */
}
.Navbar{
    background-color: orange;
    justify-content: center;
 
}
.title {
    flex: 10;
    text-align: center;
    /* border: 3px solid "orange"; */
  
}
.button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    
  }
.LeftNavContainer-1{
    display:flex;
    float: left;
}

.LeftNavContainer-1 div{
    background-color: grey; 
    width: 50%;
    height:revert;
    height: 800px;
    display:block;
}


.content{
    display: flex; 
    flex-direction: column; 
    height: 100%;
    /* border: blue 3px solid; */
    overflow:scroll;
    align-items: center;
}
section{
    display: flex;
    justify-content: space-between;
}

.contents{
   border: blue 3px solid;
}

/* .event-title-container{
    border: yellow 3px solid;
} */
/*
.content div{
    background-color: rgb(252, 222, 169);
    margin-top: 1rem;
    margin-left: 0.2rem;
    border: black 5px solid;
    border-radius: 10px;
    height: 170px;
    width: 90%;
    overflow:revert;
}
*/

.location{
    justify-content: flex-end;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
  /*  border: rgb(23, 168, 105) 3px solid;*/
  }


.moredetails{
    color: orange;
    height: 30px;
    font-size: 15px;
    width:140px;
    text-align: center;
    border-radius: 5px;
     /* border: rgb(15, 93, 127) 3px solid; */
}


.buttonStyle {
    top:50%; 
    left:50%;
    background-color: grey;
}
.buttonShift:hover {
    background-color:red;
    transition: 0.7s;
}


div.pageContainer{
    height: 800px;
    display:block;
   
    
}

.customized-card{
    margin: 8px 10px;
    width: 35rem;
    background: rgb(252, 222, 169);
    box-shadow: 0 0 15px;
    border-radius: 10px;
    height: max-content;
}

.customized-card-body{
   padding: 10px 20px;
}
.customized-card-body h2{
    text-align: center;
}
.customized-card-body td{
  width: 300px;
  text-align: center;

}
.customized-card-body p{
    font-weight: bold;
}
.customized-card-body button{
    color: orange;
    height: 25px;
    font-size: 15px;
    width:120px;
}

.button {
    background-color: orange;
}

th {
    text-align: left;
  }

 