.modalBackground {
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position:absolute;
    top:50%;
    left:50%;
    width:700px;  /* adjust as per your needs */
    height:500px;   /* adjust as per your needs */
    margin-left:-350px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */

  }
  
  .modalContainer {
    width: 650px;
    height: 450px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: center;

  }
  
  .modalContainer .title {
    margin-top: 5px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  .error {
    color: red;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 100px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: orange;
    color: black;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: red;
  }
