
.profileDisplay {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.innerProfileContainer {
    border:rgba(204, 115, 7, 0.762) 2px solid;
    padding:20px;

}

.outerProfileContainer {
    background-color: orange;
    border:rgba(204, 115, 7, 0.762) 3px solid;
    padding:4px;
    margin: 3px;
}